<div class="flex gap-4">
  <div class="min-w-[540px] h-screen">
    <form class="p-4 flex flex-col justify-between h-screen" [formGroup]="group">
      <div class="px-8 overflow-auto flex flex-col gap-4">
        <div class="font-bold text-3xl">InnSpire CV generator</div>

        <div class="flex flex-col 2xl:grid 2xl:grid-cols-6 justify-between gap-4">
          <div class="2xl:col-span-2">
            <span class="font-bold text-xl">First name</span>
            <input type="text" placeholder="First name" formControlName="firstname" />
          </div>

          <div class="2xl:col-span-2">
            <span class="font-bold text-xl">Last name</span>
            <input type="text" placeholder="Last name" formControlName="lastname" />
          </div>

          <div class="2xl:col-span-2">
            <span class="font-bold text-xl">Role</span>
            <input type="text" placeholder="Role" formControlName="role" />
          </div>
        </div>

        <div class="flex flex-col 2xl:grid 2xl:grid-cols-6 justify-between gap-4">
          <div class="2xl:col-span-2">
            <span class="font-bold text-xl">Birthdate</span>
            <input type="text" placeholder="Birthdate" formControlName="birthdate" />
          </div>

          <div class="2xl:col-span-2">
            <span class="font-bold text-xl">Phone</span>
            <input type="text" placeholder="Phone" formControlName="phone" />
          </div>

          <div class="2xl:col-span-2">
            <span class="font-bold text-xl">City</span>
            <input type="text" placeholder="City" formControlName="city" />
          </div>
        </div>

        <div class="flex flex-col 2xl:grid 2xl:grid-cols-6 justify-between gap-4">
          <div class="2xl:col-span-2">
            <span class="font-bold text-xl">Your mail</span>
            <input type="email" placeholder="mail" formControlName="mail" />
          </div>

          <div class="2xl:col-span-2">
            <span class="font-bold text-xl">Email manager</span>
            <input type="text" placeholder="Email manager" formControlName="emailManager" />
          </div>

          <div class="2xl:col-span-2">
            <span class="font-bold text-xl">Phone manager</span>
            <input type="text" placeholder="Phone manager" formControlName="phoneManager" />
          </div>
        </div>

        <span class="font-bold text-xl">Motivation</span>
        <textarea placeholder="Motivation" formControlName="motivation"></textarea>

        <span class="font-bold text-xl">Hobby description</span>
        <textarea placeholder="Hobby description" formControlName="hobbyDescription"></textarea>

        <hr class="my-4 bg-primary border border-primary" />

        <ng-container formArrayName="methods">
          <ng-container *ngFor="let methodGroup of group.controls.methods.controls; index as i" [formGroupName]="i">
            <div class="flex gap-4 items-center">
              <span class="font-bold text-xl inline">Method {{i + 1}}</span> <span (click)="deleteGroupFromFormArray('methods', i)" class="text-red-400 font-bold inline cursor-pointer" title="Delete">X</span>
            </div>
            <input type="text" placeholder="Method" formControlName="method">
          </ng-container>
        </ng-container>
        <app-button (click)="addToFormArray('methods')">+ Method</app-button>

        <hr class="my-4 bg-primary border border-primary" />

        <ng-container formArrayName="tools">
          <ng-container *ngFor="let toolGroup of group.controls.tools.controls; index as i" [formGroupName]="i">
            <div class="flex gap-4 items-center">
              <span class="font-bold text-xl">Tool {{i + 1}}</span> <span (click)="deleteGroupFromFormArray('tools', i)" class="text-red-400 font-bold inline cursor-pointer" title="Delete">X</span>
            </div>
            <input type="text" placeholder="Tool" formControlName="tool">
          </ng-container>
        </ng-container>
        <app-button (click)="addToFormArray('tools')">+ Tool</app-button>

        <hr class="my-4 bg-primary border border-primary" />

        <ng-container formArrayName="certificates">
          <ng-container *ngFor="let certificateGroup of group.controls.certificates.controls; index as i" [formGroupName]="i">
            <div class="flex gap-4 items-center">
              <span class="font-bold text-xl">Certificate {{i + 1}}</span> <span (click)="deleteGroupFromFormArray('certificates', i)" class="text-red-400 font-bold inline cursor-pointer" title="Delete">X</span>
            </div>
            <input type="text" placeholder="Certificate" formControlName="certificate">
          </ng-container>
        </ng-container>
        <app-button (click)="addToFormArray('certificates')">+ Certificate</app-button>

        <hr class="my-4 bg-primary border border-primary" />

        <ng-container formArrayName="languages">
          <ng-container *ngFor="let languageGroup of group.controls.languages.controls; index as i" [formGroupName]="i">
            <div class="flex gap-4 items-center">
              <span class="font-bold text-xl">Language {{i + 1}}</span> <span (click)="deleteGroupFromFormArray('languages', i)" class="text-red-400 font-bold inline cursor-pointer" title="Delete">X</span>
            </div>
            <input type="text" placeholder="Language" formControlName="language">
          </ng-container>
        </ng-container>
        <app-button (click)="addToFormArray('languages')">+ Language</app-button>

        <hr class="my-4 bg-primary border border-primary" />

        <ng-container formArrayName="experiences">
          <ng-container *ngFor="let experienceGroup of group.controls.experiences.controls; index as i" [formGroupName]="i">
            <div class="flex gap-4 items-center">
              <span class="font-bold text-xl">Experience {{i + 1}}</span> <span (click)="deleteGroupFromFormArray('experiences', i)" class="text-red-400 font-bold inline cursor-pointer" title="Delete">X</span>
            </div>
            <input type="text" [placeholder]="'Experience year '" formControlName="experienceYear">
            <input type="text" [placeholder]="'Experience role '" formControlName="experienceRole">
            <input type="text" [placeholder]="'Experience employer '" formControlName="experienceEmployer">
            <textarea [placeholder]="'Experience description '" formControlName="experienceDescription"></textarea>
          </ng-container>
        </ng-container>
        <app-button (click)="addToFormArray('experiences')">+ Experience</app-button>

        <hr class="my-4 bg-primary border border-primary" />

        <ng-container formArrayName="educations">
          <ng-container *ngFor="let educationGroup of group.controls.educations.controls; index as i" [formGroupName]="i">
            <div class="flex gap-4 items-center">
              <span class="font-bold text-xl">Education {{i + 1}}</span> <span (click)="deleteGroupFromFormArray('educations', i)" class="text-red-400 font-bold inline cursor-pointer" title="Delete">X</span>
            </div>
            <input type="text" [placeholder]="'Education period '" formControlName="educationPeriod">
            <input type="text" [placeholder]="'Education '" formControlName="education">
            <input type="text" [placeholder]="'Education institute '" formControlName="educationInstitute">
          </ng-container>
        </ng-container>
        <app-button (click)="addToFormArray('educations')">+ Education</app-button>

      </div>
      <div class="pt-10 flex justify-center gap-4">
        <app-button class="w-96" (click)="downloadDocument()">Download CV files</app-button>
        <label class="w-96" for="import-cv-btn">
          <app-button class="w-full">Import CV Json</app-button>
        </label>
        <input accept=".json" type="file" id="import-cv-btn" (change)="importCv($event.target)" hidden/>
        <label class="w-96" for="import-template-btn">
          <app-button class="w-full">Import template</app-button>
        </label>
        <input accept=".docx" type="file" id="import-template-btn" (change)="importTemplate($event.target)" hidden/>
      </div>
    </form>
  </div>
  <div class="overflow-auto min-w-[900px] relative h-screen px-[50px]">
    <div class="absolute right-0 h-full w-full" id="container"></div>
  </div>
</div>
